{
  "extends": "airbnb-base",
  "rules": {
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": true
    }]
  },
  "env": {
    "node": true,
    "browser": true,
  },
  "globals": {
    "window": true,
    "document": true,
    "global": true
  }
}
